<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>BlockChain</title>
</head>
<body>
<h1 class="mb-4">Add Product</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p style="color:red;text-align:center;font-size:22px;font-weight:bold">{{msg}}</p>
<table align="center" width="300" height="500">
  <tr>
    <td>cat_name</td>
      <td>
          <select name="a1" required class="form-control">
           {% for u in udict %}
          <option value="{{u.cat_name}}"> {{u.cat_name}}   </option>
          {% endfor %}

      </select>
      </td>
  </tr>
     <tr>
    <td>product_name</td>
    <td><input type="text" name="a2" required class="form-control"></td>
  </tr>
     <tr>
    <td>uom</td>
    <td><input type="text" name="a3" required class="form-control"></td>
  </tr>
     <tr>
    <td>quantity</td>
    <td><input type="text" name="a4" required class="form-control"></td>
  </tr>
     <tr>
    <td>price</td>
    <td><input type="text" name="a5" required class="form-control"></td>
  </tr>
     <tr>
    <td>image</td>
    <td><input type="file" name="myfile" required class="form-control"></td>
  </tr>
     <tr>
    <td>total_stock</td>
    <td><input type="text" name="a6" required class="form-control"></td>
  </tr>
     <tr>
    <td></td>
    <td><input type="submit" value="Add Product" class="btn btn-success"></td>
  </tr>
</table>
</form>
</body>
</html>